/*css for mobiles*/

@media only screen and (max-width:960px)
{
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    a{
        text-decoration: none;
    }

    strong{
        display: block;
        text-align: center;
    }

    span{/*used in home page once*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
    }

    p{
        text-indent: 30px;
        line-height: 1.5;
        font-weight: 300;
    }

    
    body{
        background-color: antiquewhite;
    }

    iframe{
        display: block;
        margin: 5% auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    ::-webkit-scrollbar{
        width: 3px;
    }

    ::-webkit-scrollbar-thumb{
        background: rgb(156,175,136);;
    }

    ::-webkit-scrollbar-track{
        background: antiquewhite;
    }

    /* ------ navigation bar ------ */

    .menu-icons{
        margin-left: 5px;
        margin-right: 5px;
        width: 18px;
        height: auto;
    }

    .lap-menu{
        display: none;
    }

    .menu-links{
        text-align: center;
        
        min-height: 12%;
        max-height: 13%;
    }

    .menu-links ul{
        position: fixed;
        top: 0;
        width: 100%;
        
        min-height: 40px;
        max-height: 12%;
        background-color: grey;
        list-style-type: none;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .menu-links ul li{
        display: inline-flex;
        gap: 0;
    }

    .menu-links ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 6px;
        text-decoration: none;
        font-size: 80%;
    }


    .present-page{
        background-color: rgb(156,175,136); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* ------ home page ------- */
    .main-container{
        padding-bottom: 50px;
    }

    .main-body h3 {
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .menu-icons-home{
        width: 15px;
        height: auto;
    }

    .main-body h1 {
        padding-top: 60px;
        margin-bottom: 25px;
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-body p{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px;
    }

    /* ------ footer common for home and about page ---------*/
    footer{
        margin-top: 60px;
        width: 100%;
        padding: 70px 15%;
        background-color: burlywood;
    }

    footer div{
        text-align: center;
    }

    .my-team, .social-media{
        margin-bottom: 100px;
    }

    footer div h1{
        font-weight: 400;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }


    footer .my-team a, .contact a{
        display: block;
        text-decoration:underline;
        margin-bottom: 10px;
        color: #000;
    }

    /* -------  icons -------*/
    .icons{
        height: 30px;
        width: 30px;
        background-color: white;
        display: inline-flex;
        margin: 0 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    /* ------ about content ------- */
    .about-content{
        padding-top: 60px;
    }

    .about-content h1{
        margin-bottom: 15px;
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .about-content h3{
        padding-bottom: 15px;
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .about-content p{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }
    
    /*------- textbook download--------*/
    #textbook-download{
        background-color: rgb(156,175,136);
        border: solid black 2px;
        border-radius: 10px;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
    }
    #textbook-download a{
        display: block;
        font-size: 80%;        
        max-width: 100%;
        color: black;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
        
    }
    #textbook-download a:hover{
        background-color: #000;
        color: white;
    }

    /* ------ the material ------ */


    .material{
        padding-left: 15px;
        padding-right: 15px;
        background-color: antiquewhite;
        
    }

    .material h1,h2{
        padding-top: 70px;
        padding-bottom: 30px;
        
    }

    .material h1{
        font-size: 40px;
        text-align: center;
    }

    .material h2{
        font-size: 22px;
    }

    .material p{
        font-size: 18px;
    }

    #week1,#week2,#week3,#week4,#week5,#week6,#week7,#week8{
    text-align: center;
    }

    .material img{
        display: block;
        margin: 5% auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%; 
        height: auto;
    }

    .lecture-images{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
/*  ---------The next and previous buttons----------*/
    .next-previous-buttons{
        display: block;
        width: 100%;
        text-align: center;
        font-size: large;
        background-color: antiquewhite;
        margin-top: 50px;
        
    }

    .next-previous-buttons a{
        color: black;
        display: inline-block;
        text-decoration: none;
        border: solid black 2px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(156,175,136);
    }

    .next-previous-buttons a:hover{
        background-color: black;
        color: white;
    }

    .next-button{
        margin-left: 2vw;
    }

    /*-------- contents -------*/
    .contents{
        display: none;
    }

    /*--------- feedback form ----------*/
    .feedback-form{
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    form{
        margin-left: auto;
        margin-right: auto;
        background-color: burlywood;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 80%;
        border: solid black 2px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    form h1{
        font-weight: 800;
        margin-bottom: 20px;
    }

    form input, form textarea{
        border: solid black 1px;
        border-radius: 10px;
        outline: none;
        margin: 10px 0;
        padding: 15px;
        font-size: 15px;
    }

    form button{
        padding: 6px;
        margin-bottom: 7px;
        font-weight: 500;
        background-color:rgb(156,175,136);
        outline: none;
        cursor: pointer;   
        border: solid black 2px;
        border-radius: 10px; 
    }

    form button:hover{
        background-color: black;
        color: white;
    }

    .fb-buttons{
        display: flex;
        flex-direction: column;
    }

    .feedback-body{
        align-items: center;
        justify-content: center;
    }

    .message-text{
        text-indent: 0px;
        margin: 30px 20px;
    }

}


/*=====================================================================================================================================================================================================================================================================================================================================================================*/



/* css for desktops, laptops and tablets*/

@media only screen and (min-width:960px)
{
    /* ----- common to all pages in all media quiries ------ */

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .small-content-m{
        display: none;
    }

    strong{
        display: block;
        text-align: center;
    }

    span{/*used in home page once*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
    }

    body{
        background-color: antiquewhite;
    }

    p{
        text-indent: 70px;
    }

    ::-webkit-scrollbar{
        width: 3px;
    }

    ::-webkit-scrollbar-thumb{
        background: rgb(156,175,136);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-track{
        background: antiquewhite;
    }

    /* ------ navigation bar ------ */

    .phone-menu{
        display: none;
    }

    .menu-icons-lap{
        width: 15px;
        height: auto;
    }

    .menu-links{
        text-align: center;
    }

    .menu-links ul li .small-content{
        display: none;
    }

    .menu-links ul{
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 7%;
        background-color: grey;
        list-style-type: none;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .menu-links ul li{
        display: inline-block;
    }

    .menu-links ul li a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 18px;
        text-decoration: none;
    }

    .menu-links ul li a:hover{
        background-color: #000;
        color: white;
    }

    .present-page{
        background-color: rgb(156,175,136); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    /* ------ contents ------ */

    .contents{
        height: 93%;
        width: 25%;
        overflow-y: scroll;
        padding: 8px;
        position: fixed;
        background-color: burlywood;
        margin-top: 47px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .contents ul{
        margin-top: 5px;
        list-style-type: none;
        background-color: whitesmoke;
        border: solid whitesmoke;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .contents ul li a{
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    .contents ul li a:hover{
        background-color: black;
        color: white;
        
    }

    .contents::-webkit-scrollbar{
        width: 6px;
    }

    .contents::-webkit-scrollbar-track{
        background: burlywood;
    }

    .contents::-webkit-scrollbar-thumb{
        background: rgb(156,175,136);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
    /* ------ the material ------ */


    .material{
        margin-left: 25%;
        padding-left: 20px;
        padding-right: 20px;
        background-color: antiquewhite;
        
    }

    .material h1,h2{
        padding-top: 70px;
        padding-bottom: 30px;
        text-align: center;
    }

    .material h1{
        font-size: 50px;
    }

    .material h2{
        font-size: 40px;
    }

    .material p{
        font-size: 25px;
    }

    #week1,#week2,#week3,#week4,#week5,#week6,#week7,#week8{
    text-align: center;
    }

    .material img{
        display: block;
        margin: 5% auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 60%; 
        height: auto;
    }

    .lecture-images{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .next-previous-buttons{
        display: none;
    }

    

    /* ------ about content ------- */
    .about-content{
        padding-top: 60px;
    }

    .about-content h1{
        text-align: left;
        margin-bottom: 15px;
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-content h3{
        text-align: left;
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-content p{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 22px;
    }


    /* ------ home page ------- */
    .main-container{
        padding-bottom: 50px;
    }


    .menu-icons-home{
        width: 20px;
        height: auto;
    }

    .main-body h3 {
        font-size: 35px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 15px;
        margin-left: 10%;
        margin-right: 10%;
    }

   
    .main-body h1 {
        padding-top: 60px;
        margin-bottom: 15px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 35px;
        text-align: left;
    }

    .main-body p{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 22px;
    }


    /* ------ footer common for home and about page ---------*/
    footer{
        margin-top: 150px;
        width: 100%;
        padding: 100px 15%;
        display: flex;
        background-color: burlywood;
    }

    footer div{
        text-align: center;
    }

    .my-team{
        flex-grow: 2;
    }

    footer div h1{
        font-weight: 400;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }


    footer .my-team a, .contact a{
        display: block;
        text-decoration: underline;
        margin-bottom: 10px;
        color: #000;
    }

    /* -------  icons -------*/
    .icons{
        height: 30px;
        width: 30px;
        background-color: white;
        float: left;
        margin: 0 15px;
    }

    /*------- textbook download--------*/
    #textbook-download{
        background-color: rgb(156,175,136);
        border: solid black 2px;
        border-radius: 10px;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
    }
    #textbook-download a{
        display: block;     
        max-width: 100%;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    #textbook-download a:hover{
        background-color: #000;
        color: white;
    }

    /*--------- feedback form ----------*/
    .feedback-form{
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    form{
        margin-left: auto;
        margin-right: auto;
        background-color: burlywood;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 80%;
        border: solid black 2px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    form h1{
        font-weight: 800;
        margin-bottom: 20px;
    }

    form input, form textarea{
        border: solid black 2px;
        border-radius: 10px;
        outline: none;
        margin: 10px 0;
        padding: 15px;
        font-size: 15px;
    }

    form button{
        padding: 6px;
        margin-bottom: 5px;
        width: 48%;
        font-weight: 500;
        background-color:rgb(156,175,136);
        outline: none;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: solid black 2px;
        border-radius: 10px;
    }

    .fb-buttons{
        display: flex;
        gap: 4%;
        flex-direction: row;
    }

    form button:hover{
        background-color: black;
        color: white;
    }

    .feedback-body{
        align-items: center;
        justify-content: center;
    }

    
    .message-text{
        text-indent: 0px;
        margin: 30px 150px;
    }
}